/* 全局 */
body{
    font-family: Georgia, serif;
    margin: 0;
    background: linear-gradient(135deg,#00c6ff,#0072ff);
    color: white;
    overflow-x: hidden;
    /*MDN: CSS 属性 overflow-x 设置当内容溢出块级元素的左右两侧时所显示的内容。可以不显示，或显示滚动条，或显示溢出内容 */

}


/* 搜索:全局 */
.search-bar{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}
.search-bar form{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 查询的框 */
.search-bar input[type="search"]{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    outline:  rgba(255, 255, 255, 0.2);
    border: none;   /* 没有边框, 即不出现黑边 */
    /* MDN: border 属性是一个用于设置各种单独的边界属性的简写属性。border 可以用于设置一个或多个以下属性的值：border-width、border-style、border-color。 */
    font-size: 1.1rem;
    transition: box-shadow 2s ease;         /*transition过渡到↓的box-shadow*/
}
.search-bar input[type="search"]:focus{     /*focus 事件在元素获取焦点时触发。*/
    box-shadow: 0px 20px 15px rgba(255, 255, 255, 0.2);
}
/* 查询的按钮 */
.search-bar input[type="submit"]{
    margin-left: 10px;  /*使与左侧10px*/
    padding: 15px 15px; /*内边距上下&左右:15px*/
    border-radius: 15px;    /*圆角*/
    border: none;
    outline:  rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    background-color: #5B61F9;
    color: white;
    box-shadow: 0 10px 10px #353CF6;
    /*MDN: x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影颜色 */
    cursor: pointer;
    font-weight: bolder;
    transition: padding 1.2s ease, background-color 1.2s ease;
    /* transition过渡到padding,background-color */
}
.search-bar input[type="submit"]:hover{
    padding: 17px 17px;     /*内边距从15->17*/
    background-color: #00c6ff;    
}

/* 顶部标题 */
header{
    text-align: center;
    padding: 50px 0px;      /*padding保证上下有50px内部间距,否则上下午无内部间距*/
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px #2c3e50;
    /*MDN: CSS box-shadow 属性用于在元素的框架上添加阴影效果。你可以在同一个元素上设置多个阴影效果，并用逗号将他们分隔开。该属性可设置的值包括阴影的 X 轴偏移量、Y 轴偏移量、模糊半径、扩散半径和颜色。 */
    /*MDN: x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影颜色 */
}
/* animation define:顶部标题的: 大标题 */
@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    /* 从"不透明"转为"透明",位置上从y轴-30下降到0 */
}
header h1{
    font-size: 3.5rem;
    /* REM是一个相对单位，表示相对于根元素（通常是HTML元素）的字体大小2。如果根元素的字体大小是16px，那么1rem就等于16px。 */
    /* Web: https://www.freecodecamp.org/news/css-units-when-to-use-each-one/ */
    margin: 0;
    animation: slidein 3s, ease-out; /*动画调用：*/
    /* MDN: https://developer.mozilla.org/zh-CN/docs/Web/CSS/animation#%E5%B0%9D%E8%AF%95%E4%B8%80%E4%B8%8B */
}

/* animation define 2:顶部标题的: 小标题 */
@keyframes slindeIn2 {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 0.8;
        transform: translateY(0);
    }
    /* 从"不透明"转为"0.8透明",位置上从y轴-40下降到0 */
}
header p{
    font-size: 1.5rem;
    animation: slindeIn2 4s, ease-out;  /*动画2调用*/
    opacity: 0.8;   /*透明度0.8*/
    margin: 10px 0 0;
}



/* 导航栏 */
nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    /* 元素根据正常文档流进行定位,然后相对它的最近滚动祖先和containing block,包括 table-related 元素，基于 top、right、bottom 和 left 的值进行偏移。 */
    z-index: 1000;
    /* z-index 在 CSS 中是用来设置元素的堆叠顺序的,它决定了元素在页面上的前后顺序。z-index 的值越大，元素就越靠前显示。 */
    /* z-index:1000保证了它永远高于其他元素 */
}
nav a{
    color: white;   /*字体颜色*/
    text-decoration: none;
    padding: 10px 20px; /*上下10,左右20*/
    margin: 0 20px; /*上下0,左右20*/
    font-size: 1.3rem;
    border-radius: 45px;
    /* transition: background-color 1s ease-out; 过渡至:background-color, 花费1s, east-out方式 */
    /* transition: font-size 1s ease-out;  过渡至:font-size, 花费1s, east-out方式; */
    /* ↑结合起来写成为↓ */
    transition: background-color 1s ease-out, font-size 1s ease-out;
    /* transition 属性用来指定在属性变化时的过渡效果，包括过渡的持续时间、过渡的方式和延迟等 */
}
nav a:hover{    /*配合transition,鼠标放上去后,transition开始过渡,过渡至它指定的效果*/
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
}

/* 页脚 */
footer {    /*页脚区*/
    text-align: center;
    padding: 30px 45px;    /*页脚内部,内边距上下30px,左右100px*/
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* font-size: 0.8rem; */
}
.footer-container{      /*包含了若干footer-section*/
    display: flex;
    justify-content: space-between;     /* 均匀排列每个元素 首个元素放置于起点，末尾元素放置于终点 */
    /* 均匀分布在容器内 */
    flex-wrap: wrap;    /*flex元素此时被打断到多个行中。空间不足自动换行。*/
}
.footer-section{
    margin-bottom: 20px;
    max-width: 250px;
    /* max-width CSS 属性设置元素的最大宽度。它可防止 width 属性的应用值大于 max-width 指定的值。 */
    margin-right: 75px;     /*使所有的footer-section的div向右外边距持有一定距离*/
}
.footer-section h4{     /* 页脚小标题属性 */
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #ddd;
    font-weight:800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-section p, .footer-section a {  /*应用于页脚的.footer-section中的所有p标签和所有a标签*/
    color: #ddd;
    font-size: 0.9rem;
    margin: 15px 0px;
    text-decoration: none;
}
.footer-section a:hover{
    text-decoration: underline;
    color: #00c6ff;
}
.footer-section a img{      /*"社交媒体"icon*/
    width: 30px;
    height: 30px;
    margin: 20px;
}
footer p{   /*最后一小段话*/
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
footer .p2{
    margin-top: 0;
}



/* "查询药物信息"主体框 */
.main_body{
      font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 内容框 */
.container{     
    /* 使框内图片、文本内容居中显示 */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 内容框的属性 */
    background-color: white;
    width: 1000px;
    height: 550px;
    padding: 50px;
    border-radius: 10px;
    color: black;
}
.container img{
    max-width: 500px; /* 保持图片在容器中的占比 */
    height: 250px; /* 保证图片比例 */
    margin-right: 50px;
    object-fit: cover;

}
/* 文本描述区 */
.container_text{
    text-align: center;   /* 文本居中 */
    margin-left: 20px;    /* 保证图片和文本之间有一定间距 */
}
.container_text h2{
    font-size: 1.9rem;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
}
.container_text p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555;
}




