@keyframes gradientTransition {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* 背景渐变 */
    background: linear-gradient(to right, #FF9A8B 20%, #FF6A88 50%, #FF99AC 80%),
    linear-gradient(90deg, #FBDA61 0%, #FF5ACD 100%);
    background-size: 300% 300%;
    background-blend-mode: soft-light;
    animation: gradientTransition 14s ease-in-out infinite;

    color: black;
    height: 100vh;
}

/* form中最外层的父级 */
.main_body{
    /* 使整体居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* main_body下, 外层边框属性 */
.forget_body{
    width: 350px;
    height: 450px;
    padding-top: 30px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.back_box{
    display: flex;
    align-items: center;
}
.back_box a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.back_box a:hover{
    color: lightskyblue;
}
.back_box img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.back_box a:hover img{
    transform: scale(1.1); /* 悬停时放大图标*/
}

/* "密码重置"区域 */
form{   
    height: 100%;
    /* 字体居中+均匀分布 */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 标题 */
h2{
    font-size: 34px;
}

/* "用户名,邮箱,电话,重复密码"字体 */
span{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    /* 规定宽度后, 可规定文字靠左 */
    width: 90px;
    text-align: left;    
}

/* 输入框属性 */
input{
    height: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: box-shadow 2s ease;
}
input:focus{    /*焦距后阴影效果*/
    box-shadow: 0px 20px 15px darkgrey;
}
.input_box{     /*各个输入框下边距10px*/
    margin-bottom: 10px;
}

/* 子按钮组:内边距 */
.btn_box_son{
    padding: 20px;
    /* margin-top: 0px; */
}
.btn_box_son .reset{    /*"注册"按钮样式*/
    /* 此处为了兼顾按钮大小调整了 .register_body的height: 320px;*/
    width: 400px;
    height: 35px;
    background-color: lightskyblue;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 2s ease;
}
.reset:hover{
    cursor: pointer;
    box-shadow: 0 20px 15px darkcyan;
}